<div class="container">
  <form action="/images" method="post">
    <br>
    <div class="image">
      <img src=<%= "#{@content}" %> width="500">
    </div>
    <br>
    <br>
    <input type="submit" value="New Dog Pic"/>
  </form>
</div>
